body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
}
#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}
.sans {
    font-family: "./kelvetica-nobis.regular.otf",sans-serif;
}
.heading {
    text-align: center;
    font-size: 5vmax !important;
}
.flex-container {
    justify-content: center;
    width: 100vw;
    display: flex;
    color: white;
}
.color-1 {
    background: linear-gradient(to right top, #194189 0%, #3B4980 25%, #8738A7 100%);
}
.color-2 {
    background: linear-gradient(to bottom, #203025 0%, #151516 100%);
}
.color-3 {
    background: linear-gradient(225deg, #1623A6 0%, #3343D4 29%, #175EAC 73%, #176682 100%);
}
.color-4 {
    background: linear-gradient(to right top, #604C7C 0%, #257983 50%, #20825A 100%);
}
.color-5 {
    background: linear-gradient(215deg, #c52d47 0%, #a5325c 30%, #8b366d 100%);
}
.color-6 {
    background: linear-gradient(229deg, #517281 0%, #3b5d70 27%, #4d5c82 72%, #5d647f 100%);
}
.color-7 {
    background: linear-gradient(201deg, #EF278E 0%, #81347F 47%, #43407A 100%);
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vmax;
    margin: 1vh;
    height: 16vh;
    border-radius: 3vw;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.width-1 {
    flex-grow: 1;
}
.width-2 {
    flex-grow: 2;
}
.width-3 {
    flex-grow: 3;
}
.width-4 {
    flex-grow: 4;
}
.card:hover {
    filter: brightness(1.5)
}
.welcome {
    font-size: 4vmax;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}
.welcome input {
    font-family: "./kelvetica-nobis.regular.otf",sans-serif;
    opacity: 0.5;
    font-weight: 400;
    max-width: 1200px;
    width: 100%;
    direction: ltr;
    cursor: default;
    font-size: 7vmax;
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
    transition: 0.5s all ease-in;
}
.welcome input:focus {
    opacity: 0.7;
    outline: none;
}
.input-container {
    display: flex;
}
.sub-heading {
    z-index: 10;
    display: flex;
    font-weight: 700;
    align-items: center;
    font-size: 3vmax;
}
.heading-image {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 24px;
    filter: invert();
}
.heading-image img {
    width: 3vmax;
}
.icons-pack {
    display: flex;
    justify-content: center;
}
.cards {
    margin: 12px;
    border-radius: 40px;
    border: solid 2px white;
    padding: 1vmax 2vmax 1vmax 2vmax;
    width: 3vmax;
    transition: all 0.5s ease-in;
}
.cards img {
    filter: invert();
}
.github:hover {
    background-color: #181717;
}
.linkedin:hover {
    background-color: #0A66C2;
}
.gmail:hover {
    background-color: #EA4335;
}
.leetcode:hover {
    background-color: #FFA116;
}
.contact:hover {
    background-color: #0C9D58;
}
#container {
    transition: all 0.5s ease-in;
}
#name {
    display: none;
    font-family: './kelvetica-nobis.regular.otf',sans-serif;
    cursor: default;
    font-size: 7vmax;
    background-color: black;
    color: white;
    border: none;
    opacity: 0.5;
    font-weight: 400;
    max-width: 1200px;
    min-width: 200px;
    width: 1200px;
    transition: all 0.5s ease-in;
}
#name:hover {
    opacity: 0.7;
}
#lets-go {
    opacity: 1;
    transition: all 0.5s ease-in;
}
.unclick {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}